/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
/* @media (max-width : 1399.98px) {

} */

/* lg <= Extra large (xl) */
@media (max-width: 1199.98px) {
  .woocommerce-form--register .register-padding {
    padding-right: 7em;
  }

  h1 {
    font-size: 2rem;
  }

  .tooltip--left {
    transform: translate(0, -115%);
  }

  .tooltip--right,
  .tooltip-mark-mob {
    display: none;
  }

  .advantages__gallery {
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2rem;
  }

  .advantages__gallery-col {
    margin-bottom: 2em;
    max-width: initial;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: space-between;
  }

  .advantages__item-title {
    line-height: 1;
  }

  .advantages__gallery-col:last-child {
    margin-bottom: 0;
  }

  .advantages__item {
    padding-right: 1em;
    width: 33%;
    height: initial;
    min-height: 14.4rem;
  }

  .advantages__gallery-col:nth-child(2) .advantages__item:nth-child(3) .button {
    font-size: 0.7rem;
  }

  .advantages__item--reset {
    padding-right: 0;
    justify-content: center;
  }

  .advantages__item--text-flex-end {
    justify-content: center;
  }

  .category-adv__list {
    padding-bottom: 0;
  }

  .history__date--pos {
    bottom: 7.5em;
    right: initial;
  }

  .history__date--pos span {
    font-size: 5rem;
  }

  .history__content {
    padding: 0 0 26em 0;
  }

  .today__content,
  .target__content,
  .production__content,
  .cooperation__content {
    padding-right: 0;
  }

  .office__map {
    padding-right: 0;
  }

  .details__img {
    margin-top: 1.5em;
    padding-left: 0;
  }

  .social__img {
    padding-right: 0;
  }

  .cart-product__info {
    width: 100%;
  }

  .cart-product__info-text {
    width: initial;
  }

  .cart-sidebar__title {
    font-size: 1.5rem;
  }

  .account-profile-photo {
    width: 12rem;
    height: 12rem;
  }

  .account-support-faq-title {
    font-size: 1.5rem;
  }

  .account-support-faq .accordion {
    margin-top: 1em;
  }

  .event-card-header,
  .event-card-title,
  .event-card-location {
    font-size: 1.125rem;
  }

  .event-card-format {
    width: 100%;
    order: -1;
  }

  .event-card-title {
    padding-right: 0;
  }

  .speaker-slider-photo {
    width: 11rem;
    min-width: 11rem;
    height: 11rem;
  }

  .single-event-speaker .speaker-slider-item {
    padding: 0;
    column-gap: 5rem;
  }

  .single-event-speaker .speaker-slider-photo {
    width: 16rem;
    min-width: 16rem;
    height: 16rem;
  }

  .speakers-f-screen-quote {
    padding-left: 2em;
  }

  .single-speaker-fs-descr,
  .single-speaker-about-text {
    padding-right: 0;
  }

  .articles-subtitle {
    font-size: 1.8rem;
  }

  .articles-filter .filter-dropdown-action {
    font-size: 1rem;
  }

  .single-article-speaker-name {
    font-size: 1rem;
  }
}

/* md <= Large (lg) */
@media (max-width: 991.98px) {
  :root {
    --header-height: 90px;
  }

  .woocommerce-form--auth {
    margin-top: 2em;
  }

  .woocommerce-form--register .register-padding {
    padding-right: 0;
  }

  .woocommerce-form--register .register-flex-desktop {
    display: flex;
    flex-direction: column;
  }

  .woocommerce-form--register .woocommerce-form-row label {
    margin-bottom: 1em;
  }

  .woocommerce-form--register .mt-desktop {
    margin-top: 1.5em;
  }

  .woocommerce-form--register .woocommerce-form-row:first-child {
    margin-bottom: 0;
    order: 1;
  }

  .header__row {
    display: none;
  }

  .user-menu__list {
    top: 2rem;
    transform: translateX(-85%) translateY(2rem);
  }

  .no-touch .user-menu:hover > .user-menu__list,
  .user-menu.visible > .user-menu__list {
    transform: translateX(-85%) translateY(0);
  }

  .nav {
    display: none;
  }

  .header-mob {
    display: block;
  }

  .ajax-s__block {
    padding: 0;
  }

  .ajax-s__input input {
    padding-right: 2em;
    font-size: 1.25rem;
  }

  .ajax-s__input .icon {
    right: 1rem;
  }

  .ajax-s__result {
    font-size: 1rem;
  }

  .first-screen__img {
    margin-top: 1em;
    justify-content: center;
  }

  .products__item-lock-text {
    display: none;
  }

  .company__logo {
    margin-bottom: 1em;
    padding: 0;
  }

  .company__logo img {
    width: 50%;
  }

  .products__item-picture img {
    max-width: 16rem;
  }

  .catalog-product__list {
    row-gap: 2rem;
    column-gap: 1.25rem;
  }

  .category-adv__img {
    margin-top: 2em;
    height: initial;
  }

  .category-adv__img img {
    width: 100%;
  }

  .category-adv__img-desktop {
    display: none;
  }

  .category-adv__img-mob {
    display: block;
  }

  .product__content {
    padding-right: 0;
  }

  .history__date--pos {
    bottom: 18.5em;
  }

  .today__employees {
    margin-top: 4em;
  }

  .banner-logo {
    margin-top: 5em;
  }

  .social__links {
    margin-top: 5em;
  }

  .social__qr {
    max-width: initial;
  }

  .social__qr img {
    width: 100%;
    max-width: initial;
  }

  .events .filter-dropdown {
    width: 100%;
  }

  .filter-dropdown-action {
    font-size: 0.875rem;
  }

  .events .filter-dropdown-action {
    font-size: 1rem;
  }

  .events .filter-dropdown-list-wrapper {
    top: 2.5rem;
    right: -0.5rem;
    left: -0.5rem;
  }

  .cart-product {
    column-gap: 0.5rem;
    row-gap: 2rem;
  }

  .not-found {
    padding-top: 0;
  }

  .not-found__title-block {
    padding: 4em 0 2em;
    background-image: url("../images/not-found.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
  }

  .not-found__text-decor {
    line-height: 1;
  }

  .not-found__descr {
    margin-top: 0;
  }

  .not-found__bg {
    display: none;
  }

  .account-title {
    display: none;
  }

  .account-profile-block {
    order: -1;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .account-title-desktop {
    display: block;
  }

  .account-orders-list {
    font-size: 0.875rem;
    line-height: 0.875rem;
  }

  .account-orders-list ul {
    flex-wrap: wrap;
    row-gap: 1em;
  }

  .account-orders-list li:nth-child(1),
  .account-orders-list li:nth-child(2),
  .account-orders-list li:nth-child(4) {
    flex-basis: 33%;
  }

  .account-orders-list li:nth-child(2) {
    text-align: center;
  }

  .account-orders-list li:nth-child(4) {
    text-align: right;
  }

  .account-orders-list li:nth-child(3) {
    order: 1;
    flex-basis: 50%;
  }

  .account-orders-list li:nth-child(5) {
    order: 2;
    flex-basis: 50%;
    text-align: right;
  }

  .account-change-password .form {
    max-width: initial;
  }

  .account-support-form,
  .account-support-faq {
    margin-top: 4em;
  }

  .form-account-photo-action-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-account-photo-action {
    margin-top: 0;
  }

  .form-account-photo-action .action {
    padding: 0.5em 0;
  }

  .form-account-details .row {
    gap: var(--gutter);
  }

  .account-lost-pass-subtitle {
    font-size: 1.5rem;
  }

  .event-card-speaker-name {
    font-size: 0.875rem;
  }

  .event-card-footer {
    flex-wrap: wrap;
  }

  .speaker-slider-item {
    flex-direction: column;
  }

  .speaker-slider-photo {
    align-self: center;
  }

  .filter-tab-section {
    font-size: 0.875rem;
  }

  .filter-tab {
    padding: 0.8em 1.5em;
    flex: 1;
  }

  .filter-tab.mark::after {
    margin: 0 0 -0.14em 0.4em;
  }

  .events-title {
    font-size: 2rem;
  }

  .single-event-title {
    padding-right: 0;
    font-size: 2rem;
  }

  .single-event-col {
    padding-right: 0;
  }

  .single-event .event-card-header {
    font-size: 1.5rem;
  }

  .single-event-thumb {
    margin-top: 2em;
  }

  .speakers-f-screen-quote {
    padding-left: 0;
  }

  .speakers-f-screen-photo {
    width: 14rem;
    min-width: 14rem;
    height: 14rem;
  }

  .speakers-list .speaker-slider-item {
    flex-direction: initial;
  }

  .single-speaker-fs-content .row,
  .single-speaker-about .row {
    column-gap: 2rem;
  }

  .single-speaker-fs-thumb {
    width: 16rem;
    min-width: 16em;
    height: 16rem;
  }

  .article-card.event-card {
    padding: 4em 1.25em 1.5em;
  }

  .article-card-header {
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    column-gap: 0.3rem;
  }

  .article-card-footer {
    flex-direction: column;
    align-items: initial;
  }

  .article-card-text {
    order: 1;
  }

  .article-card-title {
    margin-top: 0.5em;
  }

  .articles-content {
    margin-top: 3em;
    padding-left: 0;
  }

  .articles-f-screen-content .article-card.event-card {
    padding: 2em 1.25em;
  }

  .articles-f-screen-content .article-card-header {
    top: 0.875rem;
    left: 1.25rem;
    column-gap: 0.4rem;
    transform: translateX(0);
  }

  .articles-f-screen-content .article-card-footer {
    flex-direction: initial;
    align-items: flex-end;
  }

  .articles-f-screen-content .article-card-text {
    order: initial;
  }

  .articles-text {
    margin: 2em 0;
  }

  .articles-img {
    max-width: initial;
  }

  .articles-filter {
    margin-top: 3em;
  }

  .articles .events-list {
    margin-top: 3em;
  }

  .single-article .article-card-header {
    justify-content: initial;
    transform: translateX(0);
  }

  .single-article .speaker-slider-photo {
    width: 16rem;
    min-width: 16rem;
    height: 16rem;
  }

  .single-article-pagination-content {
    column-gap: 6rem;
  }
}

/* sm <= Medium (md) */
@media (max-width: 767.98px) {
  h2 {
    font-size: 1.25rem;
  }

  .header {
    background-color: var(--secondary);
  }

  .header-mob__burger .icon {
    stroke: var(--light-grey);
  }

  .nav-mob .cb-button {
    padding: 0.5em;
    color: var(--light-grey);
  }

  .header__icons {
    position: static;
    align-items: center;
  }

  .user-menu {
    position: static;
  }

  .user-menu__list {
    width: calc(100% - 1rem);
    top: var(--header-height);
    left: 0.5rem;
    display: block;
    color: var(--light-grey);
    background-color: var(--secondary);
    border: none;
    border-radius: var(--radius);
    transform: translateX(0) translateY(2rem);
  }

  .no-touch .user-menu:hover > .user-menu__list,
  .user-menu.visible > .user-menu__list {
    transform: translateX(0) translateY(1.25rem);
  }

  .icon--light {
    stroke: var(--light-grey);
  }

  .header-mob .user-menu__btn .icon-user {
    fill: var(--light-grey);
  }

  .logo__dark {
    display: none;
  }

  .logo__light {
    display: inline-block;
  }

  .nav-mob {
    color: var(--light-grey);
    background-color: var(--secondary);
  }

  .ajax-s .container {
    padding: 0 0.5rem;
  }

  .ajax-s__banner {
    display: none;
  }

  .ajax-s__result-content {
    margin-top: 2em;
  }

  .ajax-s__banner-mob {
    display: block;
  }

  .ajax-s.section {
    padding-top: 0;
  }

  .ajax-s__block {
    padding: 2em;
    border-radius: var(--radius);
    background-color: var(--secondary);
  }

  .ajax-s__input {
    padding: 2em 0 0;
  }

  .ajax-s__input input {
    padding: 0 0 0 2.2em;
    color: var(--light-grey);
    background-color: var(--secondary);
    border-bottom-color: #d9d9d9;
  }

  .ajax-s__input input::placeholder {
    color: #d9d9d9;
  }

  .ajax-s__input .icon {
    top: initial;
    right: initial;
    bottom: 0;
    left: 0.5rem;
  }

  .ajax-s__result {
    color: var(--light-grey);
  }

  .ajax-s__loader {
    top: 4rem;
  }

  .footer__title {
    margin-top: 1.5em;
  }

  .main.main--account {
    padding-bottom: 0;
  }

  .first-screen__partners-title {
    font-size: 1.125rem;
    text-transform: initial;
  }

  .mini-logo {
    margin-bottom: 0.8em;
    font-size: 0.75rem;
  }

  .products__title .mini-logo {
    position: initial;
    display: block;
  }

  .section--pt {
    padding-top: 5em;
  }

  .section-header {
    margin-bottom: 2em;
  }

  .section-title--center {
    text-align: left;
  }

  .distributors__title.section-title--center {
    text-align: center;
  }

  .section-header-title {
    margin-top: -1em;
  }

  .catalog-cert .section-header-title {
    margin-top: 0;
  }

  .section-header-subtitle {
    margin-top: 2.5em;
  }

  .laboratory__item-title {
    font-size: 1.125rem;
    font-weight: 700;
  }

  .laboratory__item-img-block {
    padding-left: 0;
    justify-content: start;
  }

  .laboratory__item-number {
    position: static;
  }

  .laboratory__item-picture {
    display: none;
  }

  .laboratory__item-picture-mob {
    margin-bottom: 1em;
    display: flex;
  }

  .advantages__gallery-mob {
    display: block;
  }

  .advantages__gallery {
    display: none;
  }

  .advantages__item {
    margin-top: 1.25em;
    width: initial;
  }

  .advantages__item--reset {
    min-height: initial;
  }

  .advantages__item .button {
    margin-top: 1.4em;
  }

  .company__text .section-title {
    text-align: center;
  }

  .tabs__desktop {
    display: none;
  }

  .tabs__mob {
    display: block;
  }

  .tabs .button {
    font-size: 0.75rem;
  }

  .catalog-info {
    margin-top: 2em;
  }

  .catalog-info__text {
    margin: 2em 0 1.25em;
  }

  .catalog-info__img img {
    width: 100%;
  }

  .category-adv .section-header-title {
    margin-top: 0;
  }

  .product__title {
    display: none;
  }

  .product__title-mob {
    display: block;
  }

  .product__like {
    display: none;
  }

  .product__like-mob {
    display: inline-block;
  }

  .product-descr__img {
    text-align: center;
  }

  .product-descr__img img {
    padding-right: 0;
    max-width: 20rem;
  }

  .history__date--pos {
    display: none;
  }

  .history__content {
    padding: 0;
  }

  .history__item-mob {
    display: block;
  }

  .history__item-map {
    position: relative;
  }

  .history__item-map img:first-child {
    width: 100%;
  }

  .history__item-map img:last-child {
    width: 16rem;
    bottom: 3.5rem;
  }

  .today__employees {
    margin-top: 0;
  }

  .production__img {
    display: none;
  }

  .production__content .production__img-mob {
    display: block;
  }

  .contacts-f-screen__switch-action {
    padding: 1em;
  }

  .contacts-f-screen__switch-action span:first-child {
    display: none;
  }

  .contacts-f-screen__switch-action span:last-child {
    display: block;
  }

  .contacts-content {
    margin-top: 0;
  }

  .office__map {
    height: 12.5rem;
  }

  .social__img {
    display: none;
  }

  .social__img-mob {
    display: block;
  }

  .social__links {
    margin-top: -2em;
  }

  .social__qr {
    margin-top: 2em;
  }

  .filter-dropdown-section {
    position: relative;
  }

  .filter-dropdown {
    position: initial;
  }

  .events .filter-dropdown {
    position: relative;
  }

  .filter-dropdown-list-wrapper {
    min-width: initial;
    right: -0.5rem;
    left: -0.5rem;
  }

  .filter-result-item {
    width: calc(50% - 10px);
  }

  .cart-empty .button {
    margin-top: 2em;
  }

  .cart-empty__img {
    margin-top: 1em;
  }

  .cart-sidebar {
    margin-top: 1.5em;
    padding-left: 0;
  }

  .form-cb__title--login {
    font-size: 1.25rem;
  }

  .account-menu {
    display: none;
  }

  .account-menu-desktop {
    display: block;
  }

  .account-endpoint-title-block {
    margin-bottom: 0;
  }

  .account-endpoint-title-block .row {
    gap: 0;
  }

  .events-list {
    grid: initial;
  }

  .slider-speaker-footer .button {
    max-width: initial;
  }

  .events-title,
  .single-event-title {
    font-size: 1.8rem;
  }

  .single-event .event-card-header {
    font-size: 1.25rem;
  }

  .single-event-organizer-name {
    margin-top: 1.25em;
  }

  .single-event-organizer-content {
    column-gap: 5rem;
  }

  .single-event-organizer-title-block {
    width: initial;
    min-width: initial;
  }

  .speakers-f-screen-photo {
    margin: 0 auto;
  }

  .speakers-f-screen-quote {
    margin-top: 1.5em;
  }

  .speakers-f-screen-backtick {
    position: absolute;
    top: -3.25rem;
    left: 0;
  }

  .speakers-f-screen-backtick .icon-backtick {
    width: 2.5rem;
    height: 3.125rem;
  }

  .speakers-list .speaker-slider-item {
    flex-direction: column;
  }

  .speakers-list .speaker-slider-item + .speaker-slider-item {
    margin-top: 2.5em;
  }

  .speakers-list .speaker-slider-photo {
    width: 16rem;
    min-width: 16rem;
    height: 16rem;
  }

  .speakers-list .speaker-slider-item:first-child {
    margin-top: 3em;
  }

  .speakers-list-bg-text {
    display: none;
  }

  .speakers-list-bg-text-mob {
    padding-top: 4em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
  }

  .speakers-list-bg-text-mob span {
    width: 5.5rem;
    height: 100%;
    background-image: url("../images/speakers-list-text-bg.png");
  }

  .single-speaker-fs-thumb {
    margin: 0 auto;
  }

  .single-speaker-about-photo {
    display: none;
  }

  .single-speaker-about-photo-mob {
    display: block;
  }

  .single-speaker-events-title-block .events-title {
    flex-basis: initial;
  }

  .single-speaker-events-title-block .button {
    display: none;
  }

  .single-speaker-events-button-mob {
    margin: 2.5em auto 0 auto;
    max-width: 20rem;
    display: block;
  }

  .events-list {
    margin-top: 2em;
  }

  .single-article-share {
    display: none;
  }

  .single-article-share-mob {
    display: block;
  }

  .single-article-section-title {
    font-size: 2.25rem;
  }

  .single-article-block-content-img {
    display: none;
  }

  .single-article-block-content-img-mob {
    display: block;
  }

  .single-article-pagination-content {
    column-gap: 2rem;
  }
}

/* xs <= Small (sm) */
@media (max-width: 575.98px) {
  :root {
    --header-height: 67.17px;
  }

  .ajax-s__loader {
    top: 3rem;
  }

  .ajax-s__input input {
    font-size: 1rem;
  }

  .ajax-s__input .icon {
    width: 1.2rem;
    height: 1.2rem;
    bottom: -0.2rem;
  }

  .main {
    padding: 0 0 2em;
  }

  .breadcrumbs {
    margin-top: 1em;
  }

  .section--pt {
    padding-top: 3em;
  }

  .single-article .section--pt {
    padding-top: 5em;
  }

  .section--f-screen {
    padding: 1em 0 0;
  }

  h1 {
    font-size: 1.8rem;
  }

  .header-mob__row .logo img {
    max-width: 7rem;
  }

  .header__icons {
    position: static;
    align-items: center;
  }

  .search {
    border-bottom-color: var(--light-grey);
  }

  .certificate__item {
    padding: 0;
    border: none;
  }

  .footer {
    padding: 4em 0em 2em;
  }

  .footer .logo {
    display: block;
    text-align: center;
  }

  .footer .logo img {
    width: 9rem;
  }

  .first-screen__title br {
    display: block;
  }

  .first-screen__partners-list {
    display: grid;
    grid: 1fr 1fr / auto auto auto;
  }

  .first-screen__partners-list li {
    text-align: center;
  }

  .partners-img-desktop {
    display: none;
  }

  .partners-img-mob {
    display: inline-block;
  }

  .education__text-wrapper {
    margin-top: 1em;
    height: initial;
  }

  .education__img-block {
    padding-right: 0;
  }

  .advantages__item {
    padding: 0 2em;
  }

  .advantages__item--reset {
    padding: 0;
  }

  .company__logo img {
    width: 100%;
  }

  .company__img img:nth-child(1) {
    display: none;
  }

  .company__img img:nth-child(2) {
    display: block;
  }

  .products__item {
    padding: 1em;
  }

  .products__item-picture img {
    max-height: 10rem;
  }

  .products__item-header {
    min-height: 15rem;
  }

  .products__item-title {
    margin-top: 1em;
    font-size: 0.875rem;
  }

  .products__item-price {
    font-size: 0.875rem;
  }

  .product__available {
    margin: 1em 0 0;
    display: block;
  }

  .company-f-screen {
    display: none;
  }

  .company-f-screen-mob {
    display: block;
  }

  .company-f-screen-mob .company-f-screen__title {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .history__content {
    margin-top: 2.5em;
  }

  .history__item:first-child {
    margin-bottom: 2em;
  }

  .history__item--margin {
    margin: 0 -1em;
  }

  .history__date--margin {
    margin-left: -1em;
  }

  .history__date span,
  .history__item-map span {
    font-size: 7.5rem;
    letter-spacing: -2px;
  }

  .history__date .history__date-img {
    margin-left: -1.925em;
  }

  .history__date--accent-light img {
    margin-left: -1.3em;
  }

  .history__item-map img:last-child {
    width: 60%;
    left: 47%;
    bottom: 16%;
    transform: translateX(-50%);
  }

  .system__presentation {
    margin: 0 -1em;
  }

  .system__item {
    padding-top: 3em;
    width: 22rem;
    height: 22rem;
  }

  .sistem__item-top {
    margin-bottom: -14.5em;
  }

  .sistem__item-bottom {
    margin-top: -14.5em;
  }

  .system__item--2 {
    margin-top: -14.75rem;
  }

  .system__item--3 {
    margin-bottom: -14.75rem;
  }

  .system__item--3,
  .system__item--4 {
    padding-bottom: 3em;
  }

  .system__item-title {
    font-size: 1rem;
  }

  .system__item-img {
    width: 16.25em;
  }

  .company-partners .first-screen__partners-list {
    padding: 0;
    column-gap: 3rem;
  }

  .cooperation .section-header {
    margin-bottom: 3em;
  }

  .banner-logo .container {
    padding: 0;
  }

  .banner-logo {
    margin-top: 3em;
  }

  .details__list {
    padding-top: 1em;
    font-size: 0.875rem;
  }

  .details__list li + li {
    margin-top: 0;
  }

  .contacts-form .section-header-subtitle {
    margin-bottom: 2em;
  }

  .social {
    padding-bottom: 2em;
  }

  .filter-dropdown-list-wrapper {
    top: 6rem;
  }

  .filter-result-item {
    width: 100%;
  }

  .cart-product {
    padding: 2.5em 1.25em;
  }

  .form-cb {
    padding: 2em 1em;
  }

  .form-cb__title {
    margin-bottom: 0;
  }

  .wpcf7-form {
    margin-top: 0.5em;
  }

  .form-cb__group input,
  .form-cb__group textarea {
    margin-top: 0.2em;
    padding: 0.5em 1em;
  }

  .form__group + .form__group {
    margin-top: 1.5em;
  }

  .form label {
    margin-bottom: 0;
  }

  .not-found__links {
    flex-wrap: wrap;
  }

  .not-found__links .button {
    flex-basis: initial;
  }

  .contacts-content__body.active {
    display: block;
  }

  .cart-product__info {
    flex-wrap: wrap;
  }

  .cart-product__info > * {
    flex-basis: 100%;
  }

  .cart-product__info > a {
    text-align: center;
  }

  .account,
  .account-title {
    font-size: 1rem;
  }

  .account-status span {
    padding: 0.8rem 1.5rem;
  }

  .account-profile-photo {
    width: 8rem;
    height: 8rem;
  }

  .single-order-products .cart-product .button {
    margin-left: initial;
    padding: 1.3em 0.5em;
    max-width: initial;
  }

  .account-menu-desktop {
    margin-top: -2em;
    transform: translateY(calc(50% - 1.2em));
    transition: transform 0.2s var(--function);
  }

  .account-menu-desktop.hide {
    transform: translateY(0);
  }

  .account-menu-desktop ul {
    display: grid;
    grid: 1fr / repeat(4, 25%);
    row-gap: 1em;
    justify-content: initial;
  }

  .account-menu-desktop ul {
    margin: 0 auto;
  }

  .account-menu-desktop .account-more-menu {
    display: block;
  }

  .account-menu-desktop li.account-menu-item {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s var(--function);
  }

  .account-menu-desktop.hide li.account-menu-item {
    opacity: 1;
    pointer-events: initial;
  }

  .single-order-details,
  .single-order-status {
    font-size: 0.875rem;
  }

  .single-order-details {
    margin-top: 2em;
  }

  .single-order-status .row {
    gap: 0.5rem;
  }

  .single-order-products {
    margin-top: 2.5em;
  }

  .event-card {
    margin: 0 -1em;
  }

  .event-card-time {
    width: 100%;
  }

  .speaker-slider-header .speaker-slider-actions {
    display: none;
  }

  .speaker-slider-item {
    padding: 2em 1.25em;
  }

  .slider-speaker-footer,
  .slider-speaker-footer .button {
    margin-top: 1.5em;
  }

  .slider-speaker-footer .speaker-slider-actions {
    display: flex;
    justify-content: center;
  }

  .events-title,
  .single-event-title {
    font-size: 1.25rem;
  }

  .single-event .event-card-header {
    font-size: 1.125rem;
  }

  .event-card-date-info {
    width: 100%;
  }

  .single-event-address,
  .single-event-phone {
    font-size: 0.875rem;
  }

  .single-event-address span,
  .single-event-phone span {
    margin-right: 0;
    display: block;
  }

  .single-event-speaker-link {
    margin-top: 1.5em;
  }

  .single-event-organizer-content {
    flex-direction: column;
    align-items: initial;
    row-gap: 1.8rem;
  }

  .speakers-f-screen-quote {
    font-size: 0.875rem;
  }

  .speakers-f-screen-author {
    font-size: 1rem;
  }

  .speakers-list .speaker-slider-photo {
    align-self: flex-end;
  }

  .single-speaker-fs-descr {
    font-size: 0.875rem;
  }

  .single-speaker-about {
    font-size: 0.875rem;
  }

  .articles-f-screen-content .article-card.event-card {
    padding: 4em 1.25em 1.5em;
  }

  .articles-f-screen-content .article-card-header {
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    column-gap: 0.3rem;
  }

  .articles-f-screen-content .article-card-footer {
    flex-direction: column;
    align-items: initial;
  }

  .articles-f-screen-content .article-card-text {
    order: 1;
  }

  .articles-subtitle {
    font-size: 1.25rem;
  }

  .articles-text {
    font-size: 0.875rem;
  }

  .articles-filter .filter-dropdown-section {
    column-gap: 0.3125rem;
  }

  .articles-filter .filter-dropdown:nth-child(1),
  .articles-filter .filter-dropdown:nth-child(2) {
    flex: 1 1 calc(50% - 0.25rem);
  }

  .articles-filter .filter-dropdown:nth-child(3),
  .articles-filter .filter-dropdown:nth-child(4),
  .articles-filter .filter-dropdown:nth-child(5) {
    flex: 1 1 calc(33% - 0.5rem);
  }

  .articles-filter .filter-dropdown-action {
    justify-content: center;
  }

  .articles-filter .filter-dropdown-action {
    width: 100%;
  }

  .single-article-section-title {
    font-size: 1.8rem;
  }

  .single-article-pagination-content {
    flex-wrap: wrap;
  }

  .single-article-pagination-content-item {
    flex-basis: 100%;
    justify-content: flex-end;
  }

  /* ANIMATION OFF */

  .contacts-f-screen__switch-action {
    transition: initial;
  }

  .contacts-f-screen__switch-action:first-child::before,
  .contacts-f-screen__switch-action:last-child::before {
    display: none;
    transform: initial;
    transition: initial;
  }

  .contacts-f-screen__switch-action.active::before {
    display: block;
    transform: initial;
    transition-delay: initial;
  }

  .contacts-content__body {
    position: initial;
    display: none;
    visibility: initial;
    opacity: initial;
    transform: initial;
    transition: initial;
  }
}

/* s <= 375px */
@media (max-width: 374.98px) {
  .account-menu-desktop {
    transform: translateY(calc(50% - 0.5em));
  }
}

/* s <= Very small (s) */
@media (max-width: 359.98px) {
  .ajax-s__result {
    font-size: 0.875rem;
  }

  .ajax-s__result-item-link + .ajax-s__result-item-link {
    margin-top: 1em;
  }

  .products__item {
    padding: 0.5em;
  }

  .products__item-footer .button {
    font-size: 0.75rem;
  }

  .system__item {
    padding-top: 2.5em;
    width: 19.5rem;
    height: 19.5rem;
  }

  .sistem__item-top {
    margin-bottom: -14em;
  }

  .sistem__item-bottom {
    margin-top: -14em;
  }

  .system__item--3,
  .system__item--4 {
    padding-bottom: 2.5em;
  }

  .system__item--2 {
    margin-top: -12.75rem;
  }

  .system__item--3 {
    margin-bottom: -12.75rem;
  }

  .system__item-title {
    font-size: 0.875rem;
  }

  .cart-product img {
    width: 5rem;
  }

  .cart-product__quantity {
    padding: 0.4em 0.8em;
  }

  .cart-product__quantity input {
    max-width: 2rem;
  }

  .account-status span {
    padding: 0.8rem 1rem;
    font-size: 0.875rem;
  }

  .single-order-products .cart-product .button {
    font-size: 0.75rem;
  }

  .articles-filter .filter-dropdown-action {
    font-size: 0.875rem;
  }
}

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width: 0) {
}
