:root {
    --font-size: 16px;
    --line-height: 1.625;
    --font-family: manrope, sans-serif;
    --color: #3a3845;

    --container: 1200px;
    --gutter: 1.25rem;

    --accent: #6ccc61;
    --accent-light: #c4ecc4;
    --secondary: #3a3845;
    --light-grey: #fffefe;
    --medium-grey: #faf9f6;
    --deep-grey: #807F86;

    --radius: 20px;

    --delay: 0.1s;
    --function: ease;
}

html {
    font-size: var(--font-size);
}

body {
    min-width: 320px;
    position: relative;
    font-family: var(--font-family);
    color: var(--color);
    line-height: var(--line-height);
    background-color: var(--light-grey);
    overflow-x: hidden;
}
