.added_to_cart.wc-forward {
  display: none;
}

.stock.out-of-stock,
.stock.in-stock {
  display: none;
}

/* ОФОРМЛЕНИЕ ЗАКАЗА */

.woocommerce-terms-and-conditions-wrapper {
  font-size: 0.875rem;
}

/* SHIPPING */

.woocommerce-shipping-totals.shipping {
  margin-top: 1.7em;
}

ul.woocommerce-shipping-methods li {
  display: flex;
  align-items: center;
}

ul.woocommerce-shipping-methods li + li {
  margin-top: 1.25em;
}

ul.woocommerce-shipping-methods input[type="radio"].shipping_method {
  margin: 0 0.4em 0 0;
  width: 1.25rem;
  height: 1.25rem;
  accent-color: var(--secondary);
}

ul.woocommerce-shipping-methods label {
  line-height: 1rem;
}

.woocommerce-shipping-destination {
  margin-top: 1em;
}

/* FORM */

.woocommerce-notices-wrapper:focus-visible,
.woocommerce-notices-wrapper ul:focus-visible,
.woocommerce-notices-wrapper li:focus-visible {
  outline: initial;
}

.woocommerce-notices-wrapper {
  margin: 1em 0;
  /* display: none; */
}

.woocommerce-message {
  color: var(--accent);
}

.woocommerce-message:focus-visible {
  outline: initial;
}

.woocommerce-error {
  color: tomato;
}

.woocommerce-notices-wrapper strong {
  /* display: none; */
  font-weight: 400;
}

.woocommerce-form--auth {
  margin-top: 3em;
}

.woocommerce-form--auth .woocommerce-error {
  /* color: tomato; */
}

.woocommerce-form--auth .woocommerce-form-row label {
  margin-bottom: 0.5em;
  display: inline-block;
  text-transform: uppercase;
}

.woocommerce-form--auth .form-cb__group span {
  width: 100%;
}

.woocommerce-form--auth .woocommerce-form-row {
  margin-bottom: 1.5em;
}

.woocommerce-form--auth .password-input {
  position: relative;
}

.woocommerce-form--auth input {
  margin-top: 0;
}

.woocommerce-form--auth .show-password-input {
  width: 1.0625rem;
  height: 0.9375rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  border: initial;
  background-color: initial;
  background-image: url("../images/eye.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.woocommerce-form--auth .form-cb__group-check label.input-error {
  display: none !important;
}

.woocommerce-form--auth .form-cb__group-check input.input-error {
  border-color: tomato;
}

.woocommerce-form--auth .woocommerce-form-row .upload-wrapper .input-error {
  margin-bottom: 0;
}

.woocommerce-form--auth .form-links {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.woocommerce-form-login__submit {
  margin-top: 1.5em;
}

/* REGISTER */

.woocommerce-form--register .register-padding {
  padding-right: 10em;
}

.woocommerce-form--register .woocommerce-form-row label {
  text-transform: initial;
}

.woocommerce-form--register .woocommerce-form-row label {
  margin-bottom: 1.5em;
}

.woocommerce-form--register .woocommerce-form-row:first-child label {
  margin-bottom: 0.5em;
}

.woocommerce-form--register input {
  width: 100%;
  border-bottom: 1px solid var(--secondary);
}

.woocommerce-form--register .form-cb__group-check {
  margin: 0 0 3em;
}

.woocommerce-form--register .form-cb__group-check input {
  width: 1.25rem;
}

.woocommerce-form--register .woocommerce-privacy-policy-text {
  display: none;
}

.woocommerce-form--register input[type="file"] {
  border: initial;
}

.woocommerce-form--register .password-input {
  width: 100%;
}

.woocommerce-form--register .show-password-input {
  display: none;
}

.woocommerce-password-strength,
.woocommerce-password-hint {
  display: inline-block;
  font-size: 0.8125rem;
  color: tomato;
}

.woocommerce-password-strength.good,
.woocommerce-password-strength.strong {
  display: none !important;
}

.woocommerce-form--register .woocommerce-form-row .upload-wrapper .file-label,
.woocommerce-form--register
  .woocommerce-form-row
  .upload-wrapper
  .file-name-label {
  margin-bottom: 0;
}

/* CHECKOUT */

.checkout-custom .row {
  column-gap: 3rem;
}
.checkout-custom .woocommerce-billing-fields__field-wrapper {
  margin-top: 4em;
}

.checkout-custom .woocommerce-billing-fields__field-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.checkout-custom .form-row label,
.checkout-custom .woocommerce-input-wrapper,
.checkout-custom .form-row input,
.checkout-custom textarea {
  display: block;
}

.checkout-custom .form-row {
  border-bottom: 1px solid var(--secondary);
}

.checkout-custom .form-row:has(select),
.checkout-custom .form-row:has(textarea),
.checkout-custom .form-row:has(button) {
  border: initial;
}

/* Адрес */
.checkout-custom .form-row:nth-child(4) {
  /* order: 7; */
  /* grid-column: 1 / -1; */ /* Растянуть от первой до последней колонки */
}

/* Индекс */
.checkout-custom .form-row:nth-child(7) {
  /* order: 6; */
}

/* Населенный пункт */
.checkout-custom .form-row:nth-child(5) {
  order: 5;
}

/* Область */
.checkout-custom .form-row:nth-child(6) {
  /* order: 4; */
}

/* Страна */
.checkout-custom .form-row:nth-child(3) {
  /* order: 3; */
}

.checkout-custom .form-row label {
  margin-bottom: 1.5em;
}

.checkout-custom .form-row.notes label {
  margin-bottom: 1em;
}

.checkout-custom .form-row input,
.checkout-custom .form-row textarea {
  width: 100%;
}

.checkout-custom .woocommerce-additional-fields {
  margin-top: 2em;
}

.checkout-custom .woocommerce-additional-fields__field-wrapper {
  margin-top: 1.25em;
}

.checkout-custom .optional {
  display: none;
}

.no-touch .checkout-custom .form-row textarea:hover,
.checkout-custom .form-row textarea:active,
.checkout-custom .form-row textarea:focus-visible {
  border-color: var(--accent);
  outline: initial;
}

/* .checkout-custom select {
  padding: 1em;
  border: 1px solid var(--secondary);
  border-radius: 2rem;
  cursor: pointer;
  transition: border-color var(--delay) var(--function);
} */

/* .checkout-custom .woocommerce-input-wrapper {
  position: relative;
} */

/* .checkout-custom .woocommerce-input-wrapper:has(select)::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 40%;
  right: 2rem;
  border-top: 1.5px solid var(--accent);
  border-right: 1.5px solid var(--accent);
  transform: rotate(135deg);
  pointer-events: none;
} */

.checkout-custom .product-list {
  margin-top: 2em;
}

.checkout-custom .product-list li {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.checkout-custom .product-list li + li {
  margin-top: 0.5em;
}

.checkout-custom .product-thumb img {
  width: 6rem;
}

.checkout-custom .product-total {
  margin-top: 0.5em;
}

.checkout-custom .cart-subtotal,
.checkout-custom .woocommerce-shipping-totals.shipping,
.checkout-custom .woocommerce-checkout-payment,
.checkout-custom .order-total,
.checkout-custom .button {
  margin-top: 2em;
}

.checkout-custom .ajax-loader {
  background-color: rgba(255, 255, 255, 0.9);
}

.checkout-custom .ajax-loader img {
  top: 20%;
}

/* СДЭК */

.checkout-custom .selection {
  width: 100%;
}

.select2-container--open .select2-dropdown--below {
  border: 1px solid #aaa;
}

.checkout-custom .form-row.hidden {
  /* display: block; */
}

.woocommerce-input-wrapper select {
  border: none;
  pointer-events: none;
}

ul.woocommerce-shipping-methods label {
  line-height: inherit;
}

.button.wc-edostavka-choose-delivery-point {
  margin-top: 0.5em;
  padding: 1.3em 1.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  text-align: center;
  line-height: 0.875rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--secondary);
  border: none;
  border-radius: calc(3em);
  transition:
    background-color var(--delay) var(--function),
    color var(--delay) var(--function);
}

.no-touch .button.wc-edostavka-choose-delivery-point:hover,
.button.wc-edostavka-choose-delivery-point:hover:active {
  border: none;
}

.wc-backbone-modal-content {
  border-radius: var(--radius);
  overflow: hidden;
}

.wc-edostavka-table-point-details {
  margin-top: 2em;
  width: 100%;
}

.wc-edostavka-table-point-details td {
  padding: 0.5em 0.5em 0.5em 0;
  vertical-align: top;
}
