.added_to_cart.wc-forward {
  display: none;
}
.stock.out-of-stock {
  display: none;
}
ul.woocommerce-shipping-methods li {
  display: flex;
  align-items: center;
}
ul.woocommerce-shipping-methods li + li {
  margin-top: 1.25em;
}
ul.woocommerce-shipping-methods input[type="radio"].shipping_method {
  margin: 0 0.4em 0 0;
  width: 1.25rem;
  height: 1.25rem;
  accent-color: var(--secondary);
}
ul.woocommerce-shipping-methods label {
  line-height: 1rem;
}
.woocommerce-shipping-destination {
  margin-top: 1em;
}
