.added_to_cart.wc-forward {
  display: none;
}

.stock.out-of-stock {
  display: none;
}

/* SHIPPING */

.woocommerce-shipping-totals.shipping {
  margin-top: 1.7em;
}

ul.woocommerce-shipping-methods li {
  display: flex;
  align-items: center;
}

ul.woocommerce-shipping-methods li + li {
  margin-top: 1.25em;
}

ul.woocommerce-shipping-methods input[type="radio"].shipping_method {
  margin: 0 0.4em 0 0;
  width: 1.25rem;
  height: 1.25rem;
  accent-color: var(--secondary);
}

ul.woocommerce-shipping-methods label {
  line-height: 1rem;
}

.woocommerce-shipping-destination {
  margin-top: 1em;
}

/* FORM */

.woocommerce-form--auth {
  margin-top: 3em;
}

.woocommerce-form--auth .woocommerce-notices-wrapper:focus-visible,
.woocommerce-form--auth .woocommerce-error:focus-visible,
.woocommerce-form--auth li:focus-visible {
  outline: initial;
}

.woocommerce-form--auth .woocommerce-notices-wrapper strong {
  font-weight: initial;
}

.woocommerce-form--auth .woocommerce-error {
  margin-top: 1em;
  color: tomato;
}

.woocommerce-form--auth .woocommerce-form-row label {
  margin-bottom: 0.5em;
  display: inline-block;
  text-transform: uppercase;
}

.woocommerce-form--auth .form-cb__group span {
  width: 100%;
}

.woocommerce-form--auth .woocommerce-form-row + .woocommerce-form-row,
.woocommerce-form--auth .form-row {
  margin-top: 1.5em;
}

.woocommerce-form--auth span.required {
  color: tomato;
}

.woocommerce-form--auth .password-input {
  position: relative;
}

.woocommerce-form--auth input {
  margin-top: 0;
}

.woocommerce-form--auth .show-password-input {
  width: 1.0625rem;
  height: 0.9375rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  border: initial;
  background-color: initial;
  background-image: url("../images/eye.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.woocommerce-form--auth .woocommerce-form-row label.input-error {
  margin-bottom: 0;
  font-size: 0.8125rem;
  color: tomato;
  text-transform: initial;
}

.woocommerce-form--auth .form-cb__group-check label.input-error {
  display: none !important;
}

.woocommerce-form--auth .form-cb__group-check input.input-error {
  border-color: tomato;
}

.woocommerce-form--auth .form-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}

/* REGISTER */

.woocommerce-form--register .register-padding {
  padding-right: 10em;
}

.woocommerce-form--register select {
  padding: 1em;
  width: 100%;
  border: 1px solid var(--secondary);
  border-radius: 2rem;
}

.woocommerce-form--register select:focus-visible {
  border-color: var(--accent);
}

.woocommerce-form--register .woocommerce-form-row label {
  margin-bottom: 1.5em;
}

.woocommerce-form--register input {
  width: 100%;
  border-bottom: 1px solid var(--secondary);
}

.woocommerce-form--register .form-cb__group-check {
  margin: 4em 0 3em;
}

.woocommerce-form--register .form-cb__group-check input {
  width: 1.25rem;
}

.woocommerce-form--register .woocommerce-privacy-policy-text {
  display: none;
}

.woocommerce-form--register input[type="file"] {
  border: initial;
}

.woocommerce-form--register .password-input {
  width: 100%;
}

.woocommerce-form--register .show-password-input {
  display: none;
}

.woocommerce-form--register .woocommerce-password-strength,
.woocommerce-form--register .woocommerce-password-hint {
  display: inline-block;
  font-size: 0.8125rem;
  color: tomato;
}

.woocommerce-form--register .woocommerce-password-strength.bad {
  color: tomato;
}

.woocommerce-form--register .woocommerce-password-strength.good,
.woocommerce-form--register .woocommerce-password-strength.strong {
  color: green;
}
